{% extends 'rdg_app/base.html' %}
{% load static %}

{% block content %}
    <h1>D3 Visualization</h1>

    <div id="tree-container">
        <div style="margin: auto; width:50%; height: 50%">
            <svg id="tree" width="200%" height="200%"></svg>
        </div>
    </div>

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script>
        const treeData = {
        "name": "A",
        "x": 100,
        "y": 50,
        "children": [
            {
            "name": "B",
            "x": 200,
            "y": 100,
            "children": [
                {
                "name": "D",
                "x": 300,
                "y": 150
                },
                {
                "name": "E",
                "x": 400,
                "y": 150
                }
            ]
            },
            {
            "name": "C",
            "x": 200,
            "y": 200,
            "children": [
                {
                "name": "F",
                "x": 300,
                "y": 250
                }
            ]
            }
        ]
        };

        const margin = {top: 20, right: 90, bottom: 30, left: 90},
            width = 960 - margin.left - margin.right,
            height = 600 - margin.top - margin.bottom;
            

        const svg = d3.select("#tree")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        const treeLayout = d3.tree()
                            .size([height, width])  // Switch the width and height
                            .nodeSize([120, 50])
                            .separation(function separation(a, b) {
                                return (a.parent === b.parent ? 1 : 2) / a.depth;
                            });

        const root = d3.hierarchy(treeData);
        const tree = treeLayout(root);

        const link = svg.selectAll(".link")
                        .data(tree.links())
                        .enter().append("path")
                        .attr("class", "link")
                        .attr("d", d3.linkHorizontal()
                                    .x(function(d) { return d.y; })
                                    .y(function(d) { return d.x; }));

        const node = svg.selectAll(".node")
                        .data(tree.descendants())
                        .enter().append("g")
                        .attr("class", function(d) { return "node" + (d.children ? " node--internal" : " node--leaf"); })
                        .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

        node.append("circle")
            .attr("r", function(d) { return d.children ? 10 : 5; });

        node.append("text")
            .attr("dy", ".35em")
            .attr("x", function(d) { return d.children ? -13 : 13; })
            .style("text-anchor", function(d) { return d.children ? "end" : "start"; })
            .text(function(d) { return d.data.name; });
    </script>
    <style>
        #tree-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 500px; /* set the height of the container to the desired size */
            width: 100%; 
        }
        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 2px;
            }
        #graph {
            position: absolute;
            /* top: 50%;
            left: 50%; */
            /* transform: translate(-50%, -50%); */
            }
    </style>
{% endblock %}